openapi: 3.0.3
info:
  title: Pull signal Service API
  description: Exposes the API for Signal-hub pull service
  version: '1.0'
  contact:
    name: API Support
    url: https://github.com/pagopa/pdnd-interop-frontend/issues
  termsOfService: https://selfcare.interop.pagopa.it/ui/it/termini-di-servizio
servers:
  - url: https://api.signalhub.interop.pagopa.it/1.0/pull
    description: Pull signal production environment URL
paths:
  /status:
    get:
      description: Should return OK
      summary: Health status endpoint
      operationId: getStatus
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: string
                enum:
                  - OK
  /signals/{eserviceId}:
    get:
      description: Retrieve a list o signals on a specific eservice starting from signalId
      summary: Get a list of signals
      operationId: pullSignal
      parameters:
        - schema:
            type: string
          required: true
          name: eserviceId
          in: path
        - schema:
            type: number
            nullable: true
            minimum: 0
            default: 0
          required: false
          name: signalId
          in: query
        - schema:
            type: number
            minimum: 1
            maximum: 100
            default: 10
          required: false
          name: size
          in: query
        - schema:
            type: string
          required: true
          name: authorization
          in: header
      responses:
        '200':
          description: '200'
          headers:
            X-Rate-Limit-Limit:
              schema:
                type: integer
              description: Max allowed requests within time interval
            X-Rate-Limit-Remaining:
              schema:
                type: integer
              description: Remaining requests within time interval
            X-Rate-Limit-Interval:
              schema:
                type: integer
              description: >-
                Time interval in milliseconds. Allowed requests will be
                constantly replenished during the interval. At the end of the
                interval the max allowed requests will be available
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Time at which the rate limit resets, specified in UTC epoch time
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalPullResponse'
        '206':
          description: '206'
          headers:
            X-Rate-Limit-Limit:
              schema:
                type: integer
              description: Max allowed requests within time interval
            X-Rate-Limit-Remaining:
              schema:
                type: integer
              description: Remaining requests within time interval
            X-Rate-Limit-Interval:
              schema:
                type: integer
              description: >-
                Time interval in milliseconds. Allowed requests will be
                constantly replenished during the interval. At the end of the
                interval the max allowed requests will be available
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Time at which the rate limit resets, specified in UTC epoch time
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalPullResponse'
        '400':
          description: '400'
          headers:
            X-Rate-Limit-Limit:
              schema:
                type: integer
              description: Max allowed requests within time interval
            X-Rate-Limit-Remaining:
              schema:
                type: integer
              description: Remaining requests within time interval
            X-Rate-Limit-Interval:
              schema:
                type: integer
              description: >-
                Time interval in milliseconds. Allowed requests will be
                constantly replenished during the interval. At the end of the
                interval the max allowed requests will be available
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Time at which the rate limit resets, specified in UTC epoch time
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem'
        '401':
          description: '401'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem'
        '403':
          description: '403'
          headers:
            X-Rate-Limit-Limit:
              schema:
                type: integer
              description: Max allowed requests within time interval
            X-Rate-Limit-Remaining:
              schema:
                type: integer
              description: Remaining requests within time interval
            X-Rate-Limit-Interval:
              schema:
                type: integer
              description: >-
                Time interval in milliseconds. Allowed requests will be
                constantly replenished during the interval. At the end of the
                interval the max allowed requests will be available
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Time at which the rate limit resets, specified in UTC epoch time
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem'
        '429':
          description: '429'
          headers:
            X-Rate-Limit-Limit:
              schema:
                type: integer
              description: Max allowed requests within time interval
            X-Rate-Limit-Remaining:
              schema:
                type: integer
              description: Remaining requests within time interval
            X-Rate-Limit-Interval:
              schema:
                type: integer
              description: >-
                Time interval in milliseconds. Allowed requests will be
                constantly replenished during the interval. At the end of the
                interval the max allowed requests will be available
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Time at which the rate limit resets, specified in UTC epoch time
            Retry-After:
              schema:
                type: integer
              description: How long time to wait before making a new request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem'
        '500':
          description: '500'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        A bearer token in the format of a JWS and conformed to the
        specifications included in
        [RFC8725](https://tools.ietf.org/html/RFC8725).
  schemas:
    signalType:
      type: string
      enum:
        - CREATE
        - UPDATE
        - DELETE
        - SEEDUPDATE
    SignalPullResponse:
      type: object
      properties:
        signals:
          type: array
          items:
            type: object
            properties:
              signalType:
                $ref: '#/components/schemas/signalType'
              objectId:
                type: string
              eserviceId:
                type: string
              signalId:
                type: number
              objectType:
                type: string
            required:
              - signalType
              - objectId
              - eserviceId
              - signalId
              - objectType
        lastSignalId:
          type: number
          nullable: true
      required:
        - signals
    problem:
      type: object
      properties:
        type:
          type: string
        status:
          type: number
        title:
          type: string
        correlationId:
          type: string
          nullable: true
        detail:
          type: string
        errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              detail:
                type: string
            required:
              - code
              - detail
      required:
        - type
        - status
        - title
        - detail
        - errors
  parameters: {}
